body {
    /* overflow: hidden; */
}

* {
    margin: 0;
    padding: 0;
}

#canvas {
    border: 5px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
}

.icon {
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
    position: fixed;
    width: 1.5em;
    height: 1.5em;
    transition: all 0.3s;
}

#pen,
#eraser,
#clear,
#save {
    cursor: pointer;
}

#pen {
    top: 10px;
    left: 10px;
}

#eraser {
    top: 10px;
    left: 80px;
}

#clear {
    top: 10px;
    left: 150px;
}

#save {
    top: 10px;
    left: 220px;
}

.clicking {
    fill: red;
    transform: scale(1.2);
}

#lineSize {
    /* border: 1px solid red; */
    list-style: none;
    position: fixed;
    top: 270px;
    left: 6px;
}

#lineSize li {
    /* float: left; */
    width: 30px;
    cursor: pointer;
    background-color: #000;
    transition: all 0.3s;
}

#lineSize #thin {
    height: 4px;
    margin: 0px 0 15px;
}

#lineSize #thick {
    height: 8px;
}

#lineSize .lineActive {
    box-shadow: 0 0 4px 4px rgba(80, 80, 80, 0.5);
}

#color {
    /* border: 1px solid red; */
    list-style: none;
    position: fixed;
    top: 40px;
    left: 10px;
}

#color li {
    width: 20px;
    height: 20px;
    /* background-color: green; */
    /* border: 1px solid rgba(140, 140, 140, 0.5); */
    box-shadow: 0 0 3px 3px rgba(140, 140, 140, 0.5);
    transition: all 0.3s;
    margin: 20px 0;
    border-radius: 20px;
    cursor: pointer;
}

#color #black {
    background-color: black;
}

#color #white {
    background-color: white;
}

#color #red {
    background-color: red;
}

#color #yellow {
    background-color: yellow;
}

#color #blue {
    background-color: blue;
}

#color .colorActive {
    box-shadow: 0 0 5px 5px rgba(80, 80, 80, 0.5);
}