* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::before {
    box-sizing: border-box;
}

*::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.prevcode{
    width: 100%;
    height: 45%;
    padding: 5px 10px;
    background: #fff;
    font-size: 14px;
}
.prevcodeinner{
    height: 100%;
    overflow: hidden;
}
.show{
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.wrapper {  
    height: 165px;
    position: relative;
}
.control{
    position: absolute;
    top: 2%;
    right: 3%;
    display: flex;
    flex-direction: column;
    z-index: 1;
}
.control button{
    border: none;
    padding: 3px 5px;
    margin-bottom: 10px;
    background: #DDD;
}
.control button:focus{
    outline: none;
}
.unclick{
    box-shadow: 2px 2px 2px rgba(75, 75, 75, 0.8);
}
.clicked{
    box-shadow: 1px 1px 1px rgba(34, 33, 33, 0.8);
    background: #ccc;
}
.show{
    transition: all 1s;
}
.wrapper .open{
    height: 110px;
}
.wrapper .close{
    height: 0;
}